services:
  bot-panel:
    container_name: teste_docker
    build: .
    ports:
      - "3010:3000"
    volumes:
      - ./data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
